html {
    background: #000;
    font-family: Helvetica, sans-serif;
    color: #FFF;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    text-align: center;
    min-height: 100vh;
    padding: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-shadow: 0 0 10px #000;
}


h1 {
    color: #FFED00;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 3rem;
}

h2 { 
    color: #FFED00;
    font-size: 2rem;
}

.btn {
    display: inline-block;
    border: solid 1px #FFED00;
    border-radius: 5px;
    padding: 8px 12px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
}
.btn.disabled {
    opacity: .5;
}
.screen {
    height: 80vh;
}

.video {
    width: 100%;
    height: 80vh;
    margin-bottom: 20px;
}

.buttons { position: absolute; right: 30px; bottom: 30px; }


.boxes {
    margin-top: 30vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.box {
    padding: 20px 30px;
    width: 40%;
    border: solid 3px #FFED00;
    border-radius: 5px;
    margin: 10px;
    background: rgba(0,0,0,.4);
}