html {
    background: #000;
    font-family: Helvetica, sans-serif;
    color: #FFF;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    padding: 30px;
    margin: 0;
    text-align: center;
    min-height: 100vh;
}

body.full-screen-bg {
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    color: #FFED00;
}

.btn {
    display: inline-block;
    border: solid 1px #FFED00;
    border-radius: 5px;
    padding: 8px 12px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
}
.btn.disabled {
    opacity: .5;
}
.screen {
    height: 80vh;
}

.buttons { position: absolute; right: 30px; bottom: 30px; }

